*{
    box-sizing: border-box;
}
:root{
    --szegelySzin:rgba(121, 59, 34, 0.99);
}
body {
  background-image: url("../kepek/hatter.png");
}
main{
    width: 83%;
    margin: auto;
    max-width: 800px;
    border: 3px solid var(--szegelySzin);
    background-color: bisque;
}
article{
    width: 99%;
    margin: auto;
    text-align: justify;
    border: 3px solid var(--szegelySzin);
}
.ezer{
    display: grid;
    grid-template-columns: 300px 1fr;
    border: 3px solid var(--szegelySzin);
    margin: 10px;
}
.ketezer{
    display: grid;
    grid-template-columns: 300px 1fr;
    border: 3px solid var(--szegelySzin);
    margin: 10px;
}
h1{
    font-family: old english text mt, serif;
}
#kepegy{
    width: 90%;
    max-width: 1000px;
    height: auto;
    border: 3px solid var(--szegelySzin); 
    margin: 10px;
}
#kepketto{
    width: 90%;
    max-width: 1000px;
    height: auto;
    border: 3px solid var(--szegelySzin); 
    margin: 10px;
}
#cimegy{
    font-size: 30px;
    padding: 20px;
    border: 3px solid var(--szegelySzin);
    margin: 10px;
}
#cimketto{
    font-size: 30px;
    padding: 20px;
    border: 3px solid var(--szegelySzin);
    margin: 10px;
}
p{
    padding: 5px;
    margin: 10px;
    border: 3px solid var(--szegelySzin);
}
img{
    padding: 10px;
    width: 100%;
}
h2{
    font-size: 90%;
}
header{
    width: 99%;
    margin: auto;
    text-align: center;
    border: 3px solid var(--szegelySzin);
}
footer{
    width: 99%;
    margin: auto;
    border: 3px solid var(--szegelySzin);
}
nav{
    padding: 10px;
    text-align: center;
    width: 99%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: 3px solid var(--szegelySzin);
}
a{
    text-decoration: none;
}
@media (max-width: 768px) {
    .ezer {
        grid-template-columns: 1fr;
    }
    .ketezer {
        grid-template-columns: 1fr;
    }
}